# Hr-manager application node modules
Hr-manager/announcement-service/node_modules
Hr-manager/api-gateway/node_modules
Hr-manager/attendance-service/node_modules
Hr-manager/department-service/node_modules
Hr-manager/employee-service/node_modules
Hr-manager/frontend/node_modules
Hr-manager/leave-service/node_modules
Hr-manage/payroll-service/node_modules
Hr-manage/review-service/node_modules            
